.menu__logo {
    position: relative;
    color: rgba(255, 255, 255, 0.65);
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    margin-right: 10px;
}

.menu__logo::before {
    content: '';
    display: inline-block;
    margin-top: -6px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-image: url('./auth-logo.png');
    background-size: cover;
}
